Repository cloudbring/newrelic-mcp: changes, and which lint-staged commands are due for each by the changed paths.
All: biome check --write --no-errors-on-unmatched, bash -c 'tsc --noEmit'

docs: flatten docs/docs into docs/ (no nested docs)
  docs/REST_ENDPOINT_TOOL.md
  docs/rest-tools-stories/00-shared-rest-client.md
  docs/rest-tools-stories/01-create-deployment.md
  docs/rest-tools-stories/02-list-deployments.md
  docs/rest-tools-stories/03-delete-deployment.md
  docs/rest-tools-stories/04-list-apm-applications.md
  docs/rest-tools-stories/05-list-metric-names-for-host.md
  docs/rest-tools-stories/06-get-metric-data-for-host.md
  docs/rest-tools-stories/07-list-application-hosts.md
  docs/rest-tools-stories/08-list-alert-policies.md
  docs/rest-tools-stories/09-list-open-incidents.md
  docs/rest-tools-stories/10-acknowledge-incident.md
  docs/rest-tools-stories/README.md
Due: biome check --write --no-errors-on-unmatched

docs: fix remaining reference to docs/docs after flattening
  docs/rest-tools-stories/README.md
Due: biome check --write --no-errors-on-unmatched

docs: REST v2 tools proposal and stories (base MR) (#14)
  docs/REST_ENDPOINT_TOOL.md
  docs/rest-tools-stories/00-shared-rest-client.md
  docs/rest-tools-stories/01-create-deployment.md
  docs/rest-tools-stories/02-list-deployments.md
  docs/rest-tools-stories/03-delete-deployment.md
  docs/rest-tools-stories/04-list-apm-applications.md
  docs/rest-tools-stories/05-list-metric-names-for-host.md
  docs/rest-tools-stories/06-get-metric-data-for-host.md
  docs/rest-tools-stories/07-list-application-hosts.md
  docs/rest-tools-stories/08-list-alert-policies.md
  docs/rest-tools-stories/09-list-open-incidents.md
  docs/rest-tools-stories/10-acknowledge-incident.md
  docs/rest-tools-stories/README.md
  src/client/rest-client.ts
  src/server.ts
  src/tools/rest/alerts.ts
  src/tools/rest/apm.ts
  src/tools/rest/deployments.ts
  src/tools/rest/metrics.ts
  test/client/rest-client/rest-client.test.ts
  test/integration/rest-client.integration.test.ts
  test/tools/rest/alerts.test.ts
  test/tools/rest/apm.test.ts
  test/tools/rest/deployments.test.ts
  test/tools/rest/metrics.test.ts
Due: biome check --write --no-errors-on-unmatched, bash -c 'tsc --noEmit'

release: 2.0.0 – REST v2 client and tools (deployments, APM, metrics, alerts); docs consolidated
  CHANGELOG.md
  package.json
Due: biome check --write --no-errors-on-unmatched

chore(changelog): clarify breaking changes section for 2.0.0 (none)
  CHANGELOG.md
Due: biome check --write --no-errors-on-unmatched

Release v2.0.0 (#16)
  CHANGELOG.md
  package.json
Due: biome check --write --no-errors-on-unmatched

docs(README): document all tools incl. REST v2 set; add comparisons and references
  README.md
Due: biome check --write --no-errors-on-unmatched

feat(smithery): enable tool discovery without credentials; add smithery.yaml (typescript runtime); docs link to Smithery deploy guides
  README.md
  smithery.yaml
  src/server.ts
Due: biome check --write --no-errors-on-unmatched, bash -c 'tsc --noEmit'

docs: add Smithery CLI section (benefits, commands, link to CLI repo); prefer TypeScript over Docker deployments
  README.md
Due: biome check --write --no-errors-on-unmatched

test: align env validation tests with tool-discovery (no API key required at construction)
  package-lock.json
  test/server/server-edge-cases/environment-validation.test.ts
  test/server/server.test.ts
Due: biome check --write --no-errors-on-unmatched, bash -c 'tsc --noEmit'

chore(smithery): add entry/start to smithery.yaml for Smithery build
  smithery.yaml
Due: none

scripts: ensure ai:test:coverage/ai:test:integration available for CI coverage gate
  package.json
Due: biome check --write --no-errors-on-unmatched

test(coverage): raise coverage >90% per-file; add rest-client request tests; expand REST alerts tests; limit coverage scope to src
  test/client/rest-client/rest-client-requests.test.ts
  test/tools/rest/alerts.test.ts
  vitest.config.ts
Due: biome check --write --no-errors-on-unmatched, bash -c 'tsc --noEmit'

ci(coverage): enforce 90% per-file coverage via Vitest thresholds; run coverage in CI; upload HTML report artifact; add markdown summary to PR job
  .github/workflows/ci.yml
  vitest.config.ts
Due: biome check --write --no-errors-on-unmatched, bash -c 'tsc --noEmit'

fix(ci): update coverage summary script to use double quotes for consistency
  .github/workflows/ci.yml
Due: none

ci: use repo var for NEW_RELIC_ACCOUNT_ID to avoid invalid context on PRs
  .github/workflows/ci.yml
Due: none

test: add server tool execution suite and nerdgraph tool tests; refine REST APM/metrics tests
  test/server/server-execute-tools.test.ts
  test/tools/nerdgraph.test.ts
  test/tools/rest/apm.test.ts
  test/tools/rest/metrics.test.ts
Due: biome check --write --no-errors-on-unmatched, bash -c 'tsc --noEmit'

Path conditions:
  biome check --write --no-errors-on-unmatched: any of: *.{js,jsx,ts,tsx,json,jsonc,md,mdx}
  bash -c 'tsc --noEmit': any of: *.{ts,tsx}
