Repository cloudbring/newrelic-mcp: changes, and which lint-staged commands are due for each by the changed paths.
All: biome check --write --no-errors-on-unmatched, bash -c 'tsc --noEmit'

feat: Add EditorConfig and VS Code settings
  .editorconfig
  .gitignore
  .vscode/extensions.json
  .vscode/settings.json
Due: biome check --write --no-errors-on-unmatched

docs: Update attribution and add disclaimers
  CONTRIBUTING.md
  LICENSE
  README.md
  package-lock.json
  package.json
  smithery.json
Due: biome check --write --no-errors-on-unmatched

chore: Prepare for NPM publishing
  PUBLISHING.md
  README.md
  package.json
  smithery.json
  src/server.ts
Due: biome check --write --no-errors-on-unmatched, bash -c 'tsc --noEmit'

docs: Add publishing guides and next steps
  NEXT_STEPS.md
Due: biome check --write --no-errors-on-unmatched

1.0.1
  package-lock.json
  package.json
Due: biome check --write --no-errors-on-unmatched

docs: Fix community channel references
  NEXT_STEPS.md
  PUBLISHING.md
Due: biome check --write --no-errors-on-unmatched

chore: Keep NEXT_STEPS.md local only
  .gitignore
  NEXT_STEPS.md
Due: biome check --write --no-errors-on-unmatched

chore(ci): configure GitHub Releases and npm publish; ignore .cursor; implement NerdGraph tool + tests; bump to v1.1.0
  .cursor/rules/ultracite.md
  .github/workflows/ci.yml
  .gitignore
  README.md
  package-lock.json
  package.json
  smithery.json
  src/server.ts
  src/tools/nerdgraph.ts
  test/integration/nerdgraph.integration.test.ts
Due: biome check --write --no-errors-on-unmatched, bash -c 'tsc --noEmit'

docs: add CHANGELOG.md using Keep a Changelog; add PR/issue templates and CODEOWNERS; protect master from direct pushes; improve release notes
  .github/CODEOWNERS
  .github/ISSUE_TEMPLATE/bug_report.md
  .github/ISSUE_TEMPLATE/feature_request.md
  .github/PULL_REQUEST_TEMPLATE.md
  .github/workflows/ci.yml
  .github/workflows/protect-master.yml
  CHANGELOG.md
Due: biome check --write --no-errors-on-unmatched

rules: add Keep a Changelog cursor rule; docs: update CLAUDE with changelog standard; chore: gitignore PLAN.md (private)
  .claude/CLAUDE.md
  .gitignore
Due: biome check --write --no-errors-on-unmatched

docs: changelog rule + CLAUDE update; templates; protect master; CI release notes; ignore PLAN.md
  .github/ISSUE_TEMPLATE/bug_report.md
  .github/ISSUE_TEMPLATE/feature_request.md
  .github/PULL_REQUEST_TEMPLATE.md
  CHANGELOG.md
Due: biome check --write --no-errors-on-unmatched

rules(cursor): include keep-a-changelog rule in repo for IDEs
  .cursor/rules/keep-a-changelog.md
Due: biome check --write --no-errors-on-unmatched

ci(release): extract notes from CHANGELOG; add script; include cursor rule in PR
  .github/workflows/ci.yml
  scripts/extract-release-notes.mjs
Due: none

refactor(types): tighten GraphQL response types and remove explicit any; fix lint in tests and scripts
  scripts/extract-release-notes.mjs
  src/client/newrelic-client.ts
  src/server.ts
  src/tools/alert.ts
  src/tools/apm.ts
  src/tools/entity.ts
  src/tools/nrql.ts
  src/tools/synthetics.ts
  test/client/newrelic-client.test.ts
  test/fixtures/logging.fixture.ts
  test/helpers/log-verification.ts
  test/step-definitions/apm.steps.ts
  test/step-definitions/nrql.steps.ts
  test/utils/logging/winston-logger.ts
Due: biome check --write --no-errors-on-unmatched, bash -c 'tsc --noEmit'

ci(release): handle missing/ unreadable CHANGELOG.md in extract-release-notes
  scripts/extract-release-notes.mjs
Due: none

tests: enforce small focused test files; split NewRelicClient tests into subfolder; fix CI USE_REAL_ENV var and duplicate --run; address lints
  .github/workflows/ci.yml
  test/client/newrelic-client.test.ts
  test/client/newrelic-client/execute-nerdgraph-query.test.ts
  test/client/newrelic-client/get-account-details.test.ts
  test/client/newrelic-client/list-apm-applications.test.ts
  test/client/newrelic-client/run-nrql-query.test.ts
  test/client/newrelic-client/validate-credentials.test.ts
  test/evals/apm-response.eval.ts
  test/evals/nrql-response.eval.ts
  test/features/alerts/acknowledge-incidents.test.ts
  test/features/alerts/alert-policies.test.ts
  test/tools/nrql.test.ts
  test/utils/instrumentation/otel-setup.ts
  test/utils/logging/newrelic-integration.ts
Due: biome check --write --no-errors-on-unmatched, bash -c 'tsc --noEmit'

chore(npm): add ai:* scripts for unlimited Biome diagnostics and AI-friendly lint/format/test commands
  package.json
Due: biome check --write --no-errors-on-unmatched

chore(vscode): fix JSON format and remove comments/trailing comma to satisfy Biome
  .vscode/settings.json
Due: biome check --write --no-errors-on-unmatched

chore(biome): disable lint/suspicious/noExplicitAny to clear noisy warnings
  biome.json
Due: biome check --write --no-errors-on-unmatched

chore(test): default > newrelic-mcp@1.1.0 test > vitest
  package.json
Due: biome check --write --no-errors-on-unmatched

test: fix NRQL tool spec file duplication; scope fetch mocks; add runtime arg validation; lint clean via Biome ai:ci
  src/server.ts
  src/tools/alert.ts
  test/client/newrelic-client/execute-nerdgraph-query.test.ts
  test/client/newrelic-client/get-account-details.test.ts
  test/client/newrelic-client/list-apm-applications.test.ts
  test/client/newrelic-client/run-nrql-query.test.ts
  test/client/newrelic-client/validate-credentials.test.ts
  test/tools/nrql.test.ts
  test/utils/logging/winston-logger.ts
Due: biome check --write --no-errors-on-unmatched, bash -c 'tsc --noEmit'

ci: drop Node 18 from matrix and use non-interactive ai:test to avoid ESM/CJS mismatch in Vitest
  .github/workflows/ci.yml
Due: none

fix(server): allow constructing NewRelicMCPServer with injected client without requiring NEW_RELIC_API_KEY; unblocks tests
  src/server.ts
Due: biome check --write --no-errors-on-unmatched, bash -c 'tsc --noEmit'

Remove domains and add overrides to allow any in tests
  biome.json
Due: biome check --write --no-errors-on-unmatched

chore(biome): warn on noExplicitAny globally; disable for test files via overrides; format config; rebase-pull upstream
  biome.json
Due: biome check --write --no-errors-on-unmatched

test(server): split edge-case suite into focused files; apply formatting; all tests green
  test/server/server-edge-cases.test.ts
  test/server/server-edge-cases/alerts-scenarios.test.ts
  test/server/server-edge-cases/complex-scenarios.test.ts
  test/server/server-edge-cases/entities-scenarios.test.ts
  test/server/server-edge-cases/environment-validation.test.ts
  test/server/server-edge-cases/nerdgraph-execution.test.ts
  test/server/server-edge-cases/synthetics-scenarios.test.ts
  test/server/server-edge-cases/tool-execution-errors.test.ts
Due: biome check --write --no-errors-on-unmatched, bash -c 'tsc --noEmit'

chore(release): enforce Node >=20, npm provenance, prepack build; update publishing guide for automated CI releases
  PUBLISHING.md
  package.json
Due: biome check --write --no-errors-on-unmatched

chore(release): prepare v1.1.1 (CI: allow publish from main/master; changelog updates)
  .github/workflows/ci.yml
  CHANGELOG.md
Due: biome check --write --no-errors-on-unmatched

chore(release): v1.1.1
  package-lock.json
  package.json
Due: biome check --write --no-errors-on-unmatched

ci(npm): grant id-token: write for provenance; docs(changelog): 1.1.2 patch notes
  .github/workflows/ci.yml
  CHANGELOG.md
Due: biome check --write --no-errors-on-unmatched

chore(release): v1.1.2
  package-lock.json
  package.json
Due: biome check --write --no-errors-on-unmatched

docs: propose MCP tools for New Relic REST v2 with auth, pagination, and scoped endpoints (deployments, metrics, alerts); no implementation changes
  doc/REST_ENDPOINT_TOOL.md
Due: biome check --write --no-errors-on-unmatched

docs: author individual REST tool stories with Zod schemas and flows; add shared REST client spec and index
  doc/REST_ENDPOINT_TOOL.md
  doc/rest-tools-stories/00-shared-rest-client.md
  doc/rest-tools-stories/01-create-deployment.md
  doc/rest-tools-stories/02-list-deployments.md
  doc/rest-tools-stories/03-delete-deployment.md
  doc/rest-tools-stories/04-list-apm-applications.md
  doc/rest-tools-stories/05-list-metric-names-for-host.md
  doc/rest-tools-stories/06-get-metric-data-for-host.md
  doc/rest-tools-stories/07-list-application-hosts.md
  doc/rest-tools-stories/08-list-alert-policies.md
  doc/rest-tools-stories/09-list-open-incidents.md
  doc/rest-tools-stories/10-acknowledge-incident.md
  doc/rest-tools-stories/README.md
Due: biome check --write --no-errors-on-unmatched

feat(rest): shared REST v2 client with region selection, pagination links, and integration tests
  src/client/rest-client.ts
  test/client/rest-client/rest-client.test.ts
  test/integration/rest-client.integration.test.ts
Due: biome check --write --no-errors-on-unmatched, bash -c 'tsc --noEmit'

ci: run lint/tests on all PRs (any target branch)
  .github/workflows/ci.yml
Due: none

ci: run lint/tests on all PRs (any base branch)
  .github/workflows/ci.yml
Due: none

test(rest): add unit tests for REST APM/Deployments/Metrics/Alerts tools; fix syntax after merge; green suite\n\nfeat(server): register REST tools order adjustments
  src/server.ts
  src/tools/rest/alerts.ts
  src/tools/rest/apm.ts
  src/tools/rest/deployments.ts
  src/tools/rest/metrics.ts
  test/tools/rest/alerts.test.ts
  test/tools/rest/apm.test.ts
  test/tools/rest/deployments.test.ts
  test/tools/rest/metrics.test.ts
Due: biome check --write --no-errors-on-unmatched, bash -c 'tsc --noEmit'

docs: merge doc/ into docs/docs and adjust in-repo links to new path
  docs/docs/REST_ENDPOINT_TOOL.md
  docs/docs/rest-tools-stories/00-shared-rest-client.md
  docs/docs/rest-tools-stories/01-create-deployment.md
  docs/docs/rest-tools-stories/02-list-deployments.md
  docs/docs/rest-tools-stories/03-delete-deployment.md
  docs/docs/rest-tools-stories/04-list-apm-applications.md
  docs/docs/rest-tools-stories/05-list-metric-names-for-host.md
  docs/docs/rest-tools-stories/06-get-metric-data-for-host.md
  docs/docs/rest-tools-stories/07-list-application-hosts.md
  docs/docs/rest-tools-stories/08-list-alert-policies.md
  docs/docs/rest-tools-stories/09-list-open-incidents.md
  docs/docs/rest-tools-stories/10-acknowledge-incident.md
  docs/docs/rest-tools-stories/README.md
Due: biome check --write --no-errors-on-unmatched

docs: fix internal references after moving doc/ to docs/docs
  docs/docs/rest-tools-stories/README.md
Due: biome check --write --no-errors-on-unmatched

Path conditions:
  biome check --write --no-errors-on-unmatched: any of: *.{js,jsx,ts,tsx,json,jsonc,md,mdx}
  bash -c 'tsc --noEmit': any of: *.{ts,tsx}
